<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Context parameters -->

	<!-- Servlets -->
	<servlet>
		<servlet-name>UserProfile</servlet-name>
		<servlet-class>edu.ycp.cs481.linkup.ui.servlet.UserProfileServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateUser</servlet-name>
		<servlet-class>edu.ycp.cs481.linkup.ui.servlet.CreateUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Index</servlet-name>
		<servlet-class>edu.ycp.cs481.linkup.ui.servlet.IndexServlet</servlet-class>
	</servlet>

	<!-- Servlet-mapping -->
	<servlet-mapping>
		<servlet-name>UserProfile</servlet-name>
		<url-pattern>/profile/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateUser</servlet-name>
		<url-pattern>/createUser/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Index</servlet-name>
		<url-pattern>/index/*</url-pattern>
	</servlet-mapping>

	<!-- Use the /index servlet as the welcome file -->
	<!--
	<welcome-file-list>
		<welcome-file>/index</welcome-file>
	</welcome-file-list>
	-->
	
	<welcome-file-list>
		<welcome-file>/index</welcome-file>
	</welcome-file-list>

</web-app>